modules = ["nodejs-20:v8-20230920-bd784b9"]

run = "npm run dev"
entrypoint = "src/app/page.tsx"

hidden = [".build", ".config"]

[nix]
channel = "stable-24_05"

[env]
NEXT_TELEMETRY_DISABLED = "1"

[deployment]
run = ["sh", "-c", "npm run build && npm run start"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 80

[agent]
expertMode = true

[userenv]

[userenv.shared]
NEXTAUTH_URL = "https://be4f566c-2f89-4bd5-a8ab-5a78140a089a-00-29w2vfrlzxyrn.worf.replit.dev"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"
